body{
    background-color:white;
    background-image: url("/Recipe/images/silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Gramond, sans-serif;
}

h1, h2 {
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 18px;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font: bold;
}

a {
    color: #a4a400;
}

pre {
    font-family: monospace;
}

blockquote {
    background-color: #ffffa8;
    font-style: italic;
}

.copyright {
    text-align: right;
}

div .copyright {
    width: 200px;
}